body {
    background-color: rgb(253, 255, 255);
}
.custom-table th {
    background-color: #f0f0f0;
    border-radius: 1px;
    
}
.custom-table {
    width: 80%;
    
    background-color: rgba(237, 187, 247, 0.227);
}